/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* -------------------------- */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), Inter, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  color: var(--themes-main-color);
  background-color: var(--themes-background);
  background-image: var(--themes-bakground-image);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@supports (font-variation-settings: "wght" var(--font_weight-text)) {
  .page {
    font-family: "Inter-Variable", sans-serif;
    font-weight: var(--font_weight-text);
  }
}

@media (width<=375px) {
  .page {
    inline-size: 100%;
  }
}

.container {
  max-inline-size: var(--content-width);
  margin: 0 auto;
}

/* Стили для шапки сайта */

.header {
  inline-size: 100%;
  margin-block-start: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color);
}

.header__body {
  background-color: var(--themes-background);
  inline-size: 100%;
  min-block-size: var(--header__height);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header__content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--themes-main-color);
  font-family: var(--font-second), fantasy;
  font-style: normal;
  font-weight: var(--font_weight-text);
  line-height: normal;
  text-transform: uppercase;
}

.header__logo {
  align-self: flex-end;
  font-size: var(--font-size_logo);
}

.header__title {
  font-size: var(--font-size_title);
  -webkit-margin-before: 20px;
  margin-block-start: 20px;
}

.header__theme-menu {
  margin: 25px 0;
}

.theme-menu__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.theme-menu__button {
  color: var(--themes-main-color);
  background-color: transparent;
  font-family: var(--font-second), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font_weight-text);
  line-height: normal;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus {
  border: 0;
  outline: 0;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  background-color: currentColor;
  opacity: 0.6;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible {
  color: currentColor;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "\25B6";
  display: inline-block;
  inline-size: 14px;
  block-size: 13px;
  position: absolute;
  -webkit-animation: arrow_move 0.5s ease-in-out infinite;
  animation: arrow_move 0.5s ease-in-out infinite;
}

/* -------------------------- */
/* Стили для блока main */

.main {
  inline-size: 100%;
  margin-block-start: 100px;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: var(--cards-gap);
}

.card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows:
    minmax(-webkit-min-content, -webkit-max-content) -webkit-min-content minmax(
      -webkit-min-content,
      -webkit-max-content
    )
    1fr;
  grid-template-rows:
    minmax(min-content, max-content) min-content minmax(
      min-content,
      max-content
    )
    1fr;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
}

.card__title {
  justify-self: start;
  inline-size: 100%;
  padding: 5px 10px;
  color: var(--themes-main-color);
  font-family: var(--font-main), Inter, sans-serif;
  font-size: 18px;
  font-style: inherit;
  font-weight: var(--font_weight-title);
  line-height: normal;
  text-align: left;
}

.card__image {
  inline-size: 100%;
  -webkit-padding-start: 2px;
  padding-inline-start: 2px;
  -webkit-padding-end: 2px;
  padding-inline-end: 2px;
  position: relative;
  border-block: 2px solid var(--themes-main-color);
}

.card__image-img {
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card__image-label_text {
  color: var(--themes-main-color);
  font-family: var(--font-second), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font_weight-text);
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 15px;
  text-shadow: 1px 0 0 var(--themes-background),
    0 1px 0 var(--themes-background), -1px 0 0 var(--themes-background);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports ((-webkit-text-stroke: 1px) or (text-stroke: 1px)) {
  .card__image-label_text {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-main-color);
    text-shadow: none;
  }
}

.card__content {
  -webkit-padding-start: var(--content_padding);
  padding-inline-start: var(--content_padding);
  -webkit-padding-end: var(--content_padding);
  padding-inline-end: var(--content_padding);
  margin-block: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 27px;
}

.card__content-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: 21px;
}

/* Класс для переноса строки в контентной части */
.word_sp {
  word-spacing: normal;
}

@media (width <=376px) {
  .word_sp {
    word-spacing: 5px;
  }
}

.card__buttons {
  block-size: 38px;
  -webkit-margin-after: 25px;
  margin-block-end: 25px;
  -webkit-margin-end: 25px;
  margin-inline-end: 25px;
  justify-self: end;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 100%;
  padding: 9px 17px;
  text-transform: capitalize;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 100%;
  border: 2px solid transparent;
  outline: 0;
  padding: 0;
  background-color: var(--themes-background);
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
  transition: border-color 0.3s ease;
}

.card__icon-button .like-icon {
  transition: fill 0.3s ease;
}

.card__icon-button .like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button .like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon .sparks {
  opacity: 0;
}

.card__icon-button:hover .like-icon .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .like-icon {
  pointer-events: none;
}

.card__icon-button:active .like-icon .core {
  fill: red;
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .main-body {
  fill: red;
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button .like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s 0.06s linear;
}

.card__icon-button .like-icon.is-liked {
  animation: icon-scale 0.3s 0.1s ease-in;
  animation: icon-scale 0.3s 0.1s ease-in reverse;
}

.card__icon-button .like-icon.is-liked .sparks {
  animation: sparks-op 0.3s 0.3s ease-in;
  animation: sparks-op 0.3s 0.3s ease-in reverse;
}

.card__icon-button .like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.button {
  border: 2px solid var(--themes-main-color);
  background-color: var(--themes-background);
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
  color: currentColor;
  background-color: var(--themes-main-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: all 0.5s ease-in-out;
}

.button:focus,
.card__icon-button:focus {
  outline: 0;
}

.button:focus-visible {
  border: 2px solid var(--themes-main-color);
  box-shadow: 2px 2px 0 0 var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--font-second), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font_weight-text);
  line-height: 90%;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

/* -------------------------- */
/* Стили для подвала */

.footer {
  inline-size: 100%;
  margin-block-end: 100px;
  -webkit-margin-before: 27px;
  margin-block-start: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__button {
  min-inline-size: var(--footer-btn_width);
  min-block-size: 54px;
  -webkit-margin-before: 25px;
  margin-block-start: 25px;
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

@media (width<=376px) {
  .footer__button {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
}

.button__icon {
  display: block;
  width: 29px;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  mix-blend-mode: difference;
}
@media (width>375px) {
  .button__icon {
    width: 21px;
  }
}

/* -------------------------- */
/* Стилизация диалогового окна */

.dialog[open] {
  inline-size: var(--dialog-width);
  max-inline-size: 100%;
  padding: 30px 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: inherit;
  color: inherit;
}

.dialog__title {
  inline-size: 198px;
  color: var(--themes-main-color);
  font-family: var(--font-second), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--font_weight-text);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog[open] .dialog__content {
  inline-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.submit-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  inline-size: 100%;
}

.dialog-button {
  inline-size: 100%;
  block-size: 38px;
  padding: 9px 17px;
  text-transform: uppercase;
  /* background-color: transparent; */
}

.dialog__icon {
  width: 39px;
}

.dialog::-webkit-backdrop {
  background-color: var(--themes-main-color);
  opacity: 0.75;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

/* -------------------------- */
/* стили фильтров для изображений */

.filter__bright {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.filter__gray {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.filter__sepia {
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

.filter__invert {
  -webkit-filter: invert(0.3);
  filter: invert(0.3);
}

.filter__saturate {
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.filter__retro-photo {
  -webkit-filter: sepia(1) grayscale(1) contrast(1);
  filter: sepia(1) grayscale(1) contrast(1);
}

.filter__contrast-bright {
  -webkit-filter: brightness(1.2) contrast(1.5);
  filter: brightness(1.2) contrast(1.5);
}

.filter__blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* -------------------------- */
